// --------------------------------------------------------
// IMPORTS
// --------------------------------------------------------

@import 'boiler';

// --------------------------------------------------------
// COLOURS
// --------------------------------------------------------

$darkgrey: #222;

// --------------------------------------------------------
// MIXINS
// --------------------------------------------------------

@mixin fontify ($fz, $fw, $lh:1.5em, $td:none) {
	font-family: 'Open Sans','helvetica',sans-serif;
	font-size: $fz;
	font-weight: $fw;
	line-height: $lh;
	text-decoration: $td;
}

// --------------------------------------------------------
// STYLES
// --------------------------------------------------------

body {
	@include fontify(16px,300);
}